*{
    padding: 0;
    margin: 0;
}
#header nav{
 display: flex;
 justify-content: space-between;
 background: #8fff6383;
}
.right ul{
    display: flex;

}
.right{
    margin-top: 10px 0px;
}
.right ul li a {
   
    text-decoration: none; 
    color: black;
    font-size: 20px;
    font-weight: 400;
}
.right ul li {
  
   list-style: none;
   padding: 20px 15px;
   margin: 10px 5px;
   transition: 1s;
}
li:hover{
    border-radius: 15px 0px 20px 0px;
    background-color: rgba(50, 50, 245, 0.486);
}
.pic{
    height: 300px;
    width: 99%;
    overflow:hidden;
    justify-content: center;
    background-size: cover;
    padding: 20px 10px;
   

}
.pic img{
    margin: 10px 100px;
    cursor: pointer;
}